.sectionHeader {
    font-size: 1.1em;
    color: var(--h2-color);
    text-align: right;
    width: var(--left-side-margin);
    padding-right: 2.5em;
    box-sizing: border-box;
    margin-top: 2.5em;
}

.sectionContainer {
    margin-top: 1em;
}

.sectionRow {
    margin-top: 1em;
    display: flex;
    position: relative;
}

.sectionNested {
    position: relative;
    left: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.sectionNested > .sectionRow {
    flex: 1;
    margin-top: 0;
}

.sectionRowLeft {
    box-sizing: border-box;
    width: var(--left-side-margin);
    padding-right: 2.5em;
    text-align: right;
    position: absolute;
}

.sectionRowContent {
    box-sizing: border-box;
    width: calc(100% - var(--right-side-margin) - var(--left-side-margin));
    padding-right: 1em;
    margin-left: var(--left-side-margin);
}

.sectionRowContent ul {
}

.sectionRowContent li {
    padding-left: 1.25em;
    text-indent: -1.25em;
    text-align: justify;
}
.sectionRowContent li:before {
    content: '-';
    position: relative;
    left: -0.25em;
    padding-left: 1em;
}

.sectionRowRight {
    box-sizing: border-box;
    width: var(--right-side-margin);
    text-align: right;
    padding-right: 2em;
}
