.companyName {
    font-weight: bold;
}

.projectName {
    font-weight: bold;
}

.paragraph {
    text-align: justify;
    margin-top: 1em;
}

.paragraph:first-child {
    margin-top: 0;
}

.side {
    font-size: 90%;
    font-family: Monaco, Menlo, monospace, sans-serif;
    color: var(--code-color);
}

.role {
    font-style: normal;
    color: var(--em-color);
}

hr {
    position: relative;
    border: 0 solid var(--code-color);
    border-top-width: 1px;
    margin: 1em 3% 0.5em 25%;
}

strong {
    font-weight: bold;
}
