.title {
    text-align: left;
    font-size: 3em;
    line-height: 1em;
    position: relative;
    margin-left: var(--left-side-margin);
    width: 75%;
}

.position {
    /*subtitle*/
    font-style: italic;
    font-size: 110%;
    margin-left: var(--left-side-margin);
}
.description {
    margin-top: 1em;
    margin-right: var(--right-side-margin);
    padding-right:1em;
    text-align: justify;

    /*subtitle*/
    font-style: italic;
    font-size: 90%;
    margin-left: var(--left-side-margin);
}

.webaddress {
    margin-top: 1em;
    position: relative;
    margin-left: var(--left-side-margin);
    color: var(--code-color);
    font-family: Monaco, Menlo, monospace, sans-serif;
    font-size: 90%;
    width: 75%;
}

.webaddress li {
    display: inline-block;
}

.webaddress a {
    text-decoration: none;
}
