.sidePanel__button {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

:global .dark-theme :local .sidePanel__button {
    color: rgb(182, 182, 182);
}

:global .dark-theme :local .sidePanel__button:hover {
    color: rgb(82, 82, 82);
}

.sidePanel__button:hover {
    color: black;
}

.sidePanel__button__light {
    display: none;
}

:global .dark-theme :local .sidePanel__button__light {
    display: block;
}

:global .dark-theme :local .sidePanel__button__light {
    display: block;
}

.sidePanel__button__dark {
    display: block;
}

:global .dark-theme :local .sidePanel__button__dark {
    display: none;
}

.sidePanel {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 55px;
}
