/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of reset */

body {
    font: normal normal 400;
    font-size: 12px;
    line-height: 1.45em;
    font-family: Avenir, Verdana, sans-serif;

    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    --background-container-color: #f1f1f1;
    --background-color: #fff;
    --text-color: #000;
    --em-color: #2d4e5e;
    --code-color: #ccc;
    --h2-color: #a00;

    --link-color: rgb(0, 56, 112);
    --link-hover-color: #39f;

    --left-side-margin: 25%;
    --right-side-margin: 12%;
}

.dark-theme {
    --background-container-color: rgb(37, 37, 37);
    --background-color: rgb(21, 21, 21);
    --text-color: rgb(226, 226, 226);
    --em-color: #4a7f99;
    --code-color: rgb(150, 150, 150);
    --h2-color: #a00;

    --link-color: rgb(34, 144, 253);
    --link-hover-color: rgb(0, 93, 185);
}

@page {
    size: A4 portrait;
}

@media screen {
    .print-only {
        display: none !important;
    }
}
@media print {
    .hidden-print {
        display: none !important;
    }
}

@media screen {
    body {
        margin-top: 1em;
        margin-left: 1em;

        font-size: 12pt;

        background-color: var(--background-container-color);
    }

    #main {
        padding: 2em 1em 4em 1em;
        width: 940px;
        margin: 0 auto;
        margin-bottom: 3em;
        background-color: var(--background-color);

        box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
    }

    @media (max-width: 1280px) {
        body {
            background-color: var(--background-color);
        }

        #main {
            box-shadow: none;
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
    }
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover-color);
}
